@page "/"

<PageTitle>Trivia</PageTitle>

<h1>Selected: @category</h1>

<section id='start' className='text-white text-center mb-5 container'>
    <h1 className='display-3 font-weight-bold'>Trivia Game</h1>
    <p className='lead mb-5'>
        Do you a want to test your trivia knowledge? Put it to the test and see how much you really know!
    </p>
    <form className='input-group' onSubmit={this.handleOnSubmit}>
        <Categories CategorySelected="HandleCategorySelected"></Categories>
        <div className='input-group-append'>
            <button className='btn btn-primary' type='submit' disabled="@(string.IsNullOrEmpty(category))">
                Start Trivia
            </button>
        </div>
    </form>
</section>

@code
{
    private string category = string.Empty;

    private void HandleCategorySelected(string selectedCategory)
    {
        this.category = selectedCategory;
    }
}
